<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!--Principio nav-->
        <nav>
            <li>
                <ul><img src="/img/logo.png" alt=""></ul>
                <ul><a href='@Url.Action("Historia")'></a>Historia</ul>
                <ul><a href='@Url.Action("Deportes")'></a>Deportes</ul>
                <ul><a href='@Url.Action("Países")'></a>Países</ul>
                <ul><a href='@Url.Action("Agregar Deportista")'></a>Agregar Deportista</ul>
                <ul><a href='@Url.Action("Créditos")'></a>Créditos</ul>
            </li>
        </nav>
        <!--fin nav-->
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <img src=".../img/logo.png" alt="">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
