<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!--Principio nav-->
        <nav>
            <ul>
                <li><img src="/img/logo.png" alt=""></li>
                <li><a href='@Url.Action("Historia")'>Historia</a></li>
                <li><a href='@Url.Action("Deportes")'>Deportes</a></li>
                <li><a href='@Url.Action("Países")'>Países</a></li>
                <li><a href='@Url.Action("Agregar Deportista")'>Agregar Deportista</a></li>
                <li><a href='@Url.Action("Créditos")'>Créditos</a></li>
            </ul>
        </nav>
        <!--fin nav-->
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        @DateTime.Today Martina Szwarcbort y Michelle Garber
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
